.register{
    width: 100vw;
    height: 100vh;
    background-color: orchid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerWrapper {
    width: 70%;
    height: 70%;
    display: flex;
}

.registerLeft, .registerRight{ 
    flex: 1;
    display: flex;
    flex-direction:column;
    justify-content: center;
}
.registerLogo{
    font-size: 50px;
    font-weight: 800;
    color: plum;
    margin-bottom: 10px;
}
.registerDescription{
    font-size: 24px;
}
.registerBox {
    height: 400px;
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.registerInput {
    height: 50px;
    border-radius: 10px;
    border: 1px solid grey;
    font-size: 10px;
    padding-left: 20px;
}
.registerInput:focus {
    outline: none;
}
.registerButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color:orchid;
    font-size: 20px;
    color: white;
    cursor: pointer;
}
.registerForgot{
    text-align: center;
    color: orchid;
}

.loginregisterButton{
    width: 70%;
    align-self: center;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color:lightcoral;
    font-size: 20px;
    color: white;
    cursor: pointer;
}